# Based on the output from "pip freeze"
# Blinly update from request 2.20.0 to avoid github security alert. Not sure if the code will work as is
# after the upgrade but probably this repository is no longer used and it is not a big issue ;)
requests==2.31.0
# Blinly update from lxml 2.3.2 to avoid github security alert. Not sure if the code will work as is
# after the upgrade but probably this repository is no longer used and it is not a big issue ;)
lxml==4.9.1
# Blinly update from Flask 0.12.3 to avoid github security alert. Not sure if the code will work as is
# after the upgrade but probably this repository is no longer used and it is not a big issue ;)
Flask==2.3.2
hive-thrift-py==0.0.1
